/*
 * jQuery Nivo Slider v2.6
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 /* The Nivo Slider styles */
#slider {
  margin: 0 auto;
  width: 960px;
  height: 346px;	
  position:relative;
  background: url(../images/loading.gif) no-repeat 50% 50%;
}
#slider img {
  position:absolute;
  top:0px;
  left:0px;
  display:none;
}
#slider a { 
  border:0;
  display:block;
}
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:102;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:102;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
.nivo-caption {
  padding:10px 30px;
	position:absolute;
	left:0px;
	bottom:50px;
	background: url(../images/transparent.png) repeat;
	color:#fff;
	width:auto;
	z-index:8;
	height: 20px;
}
.nivo-caption p {
	margin:0;
  color: #ffffff;
  display: block;
  font-size: 14px;
}
.nivo-caption p strong {
  font-size: 14px;
  clear: both;
  margin-bottom: 10px;
}

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

.nivo-controlNav {
	position:absolute;
	left:45%;
	bottom: 20px;
}
.nivo-controlNav a {
	display:block;
	width:11px;
	height:12px;
	background:url(../images/gray_pager.png) no-repeat 0 -12px ;
	text-indent:-9999px;
	border:0;
	margin-right: 5px;
	float:left;
	z-index: 102;
}
.nivo-controlNav a.active {
	background-position:0 0;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}
