
/* ----------------------- GENERAL LAYOUT -----------------------*/
.header-wrapper{
  background-color:#20a9dc;
}
.header-wrapper-inner {
  background-color:#20a9dc;
}
/* links */
a,a:link,a:visited {
  color:#069bc9;
  text-decoration:none;
}
a:hover{
  color:#555555;
}
a img, img {
  border:none
}
a.button{
  color: #858585;
}
a.button:hover {
  color: #555555;
}


ul.tabs li a:hover,
.toggle_title h5,
.testiname,
#profiles h4,
.jqueryslidemenu ul li a:hover,
.jqueryslidemenu ul li.selected ul li a:hover,
.jqueryslidemenu ul li ul li a:hover  {
  color: #539abf;
}
.jqueryslidemenu ul li.selected a {
  background: #539abf;
  color: #ffffff;
}
